$bg:#f4f4f4;
$btn-bg:#fff;
$border:#111;

*{
    box-sizing: border-box;
}

body{
    background:$bg;
    display: flex;
    flex-direction: column;
    align-items:center;
    min-height: 100vh;
    margin: 0;



    .container{
        display: flex;
        padding: 20px;
        margin: 0 auto;
        max-width: 100%;
        width: 800px;

        aside{
            padding: 10px 20px;
            width: 250px;
            border-right: 1px solid $border;

            button{
                background: $btn-bg;
                display: block;
                width: 100%;
                padding: 10px;
                margin-bottom: 20px;
                font-size: 14px;                
            }
        }

        main{
            flex: 1;
            padding: 10px 20px;

            h2{
                border-bottom: 1px solid $border;
                padding-bottom: 10px;
                display: flex;
                justify-content: space-between;
                font-weight: 300;
                margin: 0 0 20px;
            }
        }
    }


    .person{
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        margin-bottom: 10px;
    }
}


